/*General*/
body
{
	background-image:url("images/greendragon.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
/*header*/
header
{
	background-color:#1a1a1a;
	min-height:70vh;
	display:flex;
	background-image:url("images/greendragon.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
header div
{
	text-align:right;
	margin-left:60px;
	align-self:center;
}
header div h1, header div h3
{
	color:#ffffff;
	font-family:'Raleway';
}
header div h1
{
	font-size:5rem;
}
header div h3
{
	font-size:3rem;
}
header div h1 span
{
	color:#ffff00;
}
/*transitions*/
main > section:nth-of-type(odd)
{
	background-color:rgba(255, 255, 255, 0.8);
}
main > section:nth-of-type(even)
{
	background-color:#1a1a1a;
}
main div.transition:first-of-type
{
	background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.8) 49.5%, transparent 50%),
		url("images/greendragon.png"),
		linear-gradient(to top left, #ffffff 49.5%, #1a1a1a 50%);
	background-attachment:scroll, fixed, scroll;
	background-position:top right;
	background-size:auto, contain, auto;
}
main div.transition:nth-of-type(2)
{
	background-image: linear-gradient(to top left, #1a1a1a 49.5%, rgba(255, 255, 255, 0.8) 50%),
		url("images/greendragon.png"),
		linear-gradient(to top left, #1a1a1a 49.5%, #ffffff 50%);
	background-attachment:scroll, fixed, scroll;
	background-position:top right;
	background-size:auto, contain, auto;
}