/***************
Style Guide

Font:
    Body: Open Sans
    Headers: Raleway
Color:
    Green: #00cc00
    Yellow: #ffff00
    Dark Grey: #1a1a1a
****************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/*Body*/
body
{
    transition: margin-left 400ms ease-in-out 0ms;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1em;
    background-image: url(../images/greenDragon.png);
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
   
}

/*Header Formating*/
header
{
    font-family: 'Open Sans';
    min-height: 70vh;
    width: 100vw;
    position: relative;
    background-color: #1a1a1a;
    background-image: url(../images/greenDragon.png);
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: flex-start !important;
}

header > div:nth-of-type(1)
{
    min-width: 50%;
    text-align: right;
    align-self: flex-end;
}

header > div > span:nth-of-type(1)
{
    font-size: 5.2rem;
    color: #ffff00;
}

header > div > span:nth-of-type(2)
{
    font-size: 5.2rem;
    color: #ffffff;
}

header > div > span:nth-of-type(3)
{
    font-size: 2.5rem;
    color: #ffffff;
}

header > div:nth-of-type(2)
{
    height: 40px;
    width: 40px;
    margin: auto calc(50% - 20px);
    border-left: 2px solid #ffff00;
    border-bottom: 2px solid #ffff00;
    /*position: absolute;*/
    left: calc(50% - 20px);
    top: 70%;
    transform: rotate(-45deg)
}

/*Main Content*/
main
{
    width: 100vw;
    
}

.section-white
{
    color: #000000;
    background-color: rgba(255,255,255,0.85);
    min-height: 60vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around !important;
}

.section-grey
{
    color: #ffffff;
    background-color: #1a1a1a;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-around !important;
}

.main-article
{
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 2rem;
    width: 35%;
    min-width: 700px;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    
}

h1
{
    font-family: 'Raleway';
    font-size: 2.75rem;
    font-weight: 200;
    text-align: center;
}

.box-container
{
    width: 35%;
    justify-content: space-around !important;
    min-width: calc(600px + 10.5rem);
}

.box
{
    font-family: 'Open Sans';
    font-size: 0.8rem;
    color: #ffffff;
    height: 150px;
    width: 200px;
    background-color: #1a1a1a;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}


@media screen and (max-width: 850px)
{
    .main-article
    {
        min-width: 200px;
        width: 80%;
    }
    
    .box-container
    {
        width: 80%;
        min-width: 200px;
    }
}

.box > img
{
    height: 100%;
    width: 100%;
}

.box > p
{
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
}


/*Transitions*/
.transition-1
{
    background-image: linear-gradient(to top left, rgba(255,255,255,0.85), rgba(255,255,255,0.85) 49.5%, transparent 50%, transparent 100%), url(../images/greenDragon.png),  linear-gradient(to top left, #ffffff, #ffffff 49.5%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: auto, contain, auto;
    background-position: center, right, center;
    background-attachment: scroll, fixed, scroll;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 20vh;
    width: 100vw;
}

.transition-2
{
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.85), rgba(255,255,255,0.85) 49.5%, #1a1a1a 50%, #1a1a1a 100%), url(../images/greenDragon.png),  linear-gradient(to bottom right, #ffffff, #ffffff 49.5%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: auto, contain, auto;
    background-position: center, right, center;
    background-attachment: scroll, fixed, scroll;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 20vh;
    width: 100vw;
    align-self: flex-end;
}

/*Footer*/
footer
{
    font-family: 'Open Sans';
    font-size: 0.9rem;
    color: #ffffff;
    text-align: center;
    background-color: #1a1a1a;
    height: 50px;
    width: 100vw;
    line-height: 50px;
    
}

footer > a
{
    color: #ffffff;
    text-decoration: none;
}

/*Flexbox Layout*/
.flex-container
{
    display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
}

.flex-item-1
{
    order: 1;
}

.flex-item-2
{
    order: 2;
}

.flex-item-3
{
    order: 3;
}

.flex-item-4
{
    order: 4;
}