/***************
Style Guide

Font:
    Body: Open Sans
    Headers: Raleway
Color:
    Green: #00cc00
    Yellow: #ffff00
    Dark Grey: #1a1a1a
****************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/*Body*/
body
{
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1em;
    background-image: url(../images/greenDragon.png);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    overflow-x: hidden;
   
}

/*Header Formating*/
header
{
    font-family: 'Open Sans';
    height: 80vh;
    width: 100vw;
    align-items: center;
    flex-flow: column wrap;
    position: relative;
    background-color: #1a1a1a;
    background-image: url(../images/greenDragon.png);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}

header > div:nth-of-type(1)
{
    width: 40%;
    text-align: right;
}

header > div > span:nth-of-type(1)
{
    font-size: 4rem;
    color: #ffff00;
}

header > div > span:nth-of-type(2)
{
    font-size: 4rem;
    color: #ffffff;
}

header > div > span:nth-of-type(3)
{
    font-size: 2.5rem;
    color: #ffffff;
}

header > div:nth-of-type(2)
{
    height: 40px;
    width: 40px;
    margin: auto auto;
    border-left: 2px solid #ffff00;
    border-bottom: 2px solid #ffff00;
    position: absolute;
    left: calc(50% - 20px);
    top: 70%;
    transform: rotate(-45deg)
}

/*Main Content*/
main
{
    width: 100vw;
    height: 100vh;
}

.section-1
{
    background-color: rgba(255,255,255,0.85);
    min-height: 60vh;
    width: 100vw;
}

.section-2
{
    background-color: #1a1a1a;
    min-height: 70vh;
    width: 100vw;
}

.main-article
{
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 2rem;
    width: 40%;
}

.main-article > h1
{
    font-family: 'Raleway';
    font-size: 1.75rem;
    text-align: center;
}


/*Transitions*/
.transition-1
{
    background-image: linear-gradient(to top left, rgba(255,255,255,0.85), rgba(255,255,255,0.85) 49.5%, transparent 50%, transparent 100%), url(../images/greenDragon.png),  linear-gradient(to top left, #ffffff, #ffffff 49.5%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: auto, cover, auto;
    background-position: initial, right top, initial;
    background-attachment: scroll, fixed, scroll;
    height: 20vh;
    width: 100vw;
}

.transition-2
{
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.85), rgba(255,255,255,0.85) 49.5%, #1a1a1a 50%, #1a1a1a 100%), url(../images/greenDragon.png),  linear-gradient(to bottom right, #ffffff, #ffffff 49.5%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: auto, cover, auto;
    background-position: initial, right top, initial;
    background-attachment: scroll, fixed, scroll;
    height: 20vh;
    width: 100vw;
}

/*Flexbox Layout*/
.flex-container
{
    display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
}

.flex-item-1
{
    order: 1;
}

.flex-item-2
{
    order: 2;
}

.flex-item-3
{
    order: 3;
}

.flex-item-4
{
    order: 4;
}