nav
{
    
    
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0.85),   rgba(255,255,255,0.85) 49.5%, #1a1a1a 50%, #1a1a1a 100%), url(../images/greenDragon.png),  linear-gradient(to bottom left, #ffffff, #ffffff 49.5%, #1a1a1a 50%, #1a1a1a 100%);
    background-size: 200vw 100%, contain, 200vw 100%;
    background-position: center, right, center;
    background-attachment: scroll, fixed, scroll;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-repeat: no-repeat;
    z-index: 100;
}

nav:focus
{
    outline: none;
}

nav > ul
{
    font-family: 'Open Sans';
    font-size: 0.9rem;
    text-align: right;
    width: 95%;
}

nav > ul > li
{
    font-weight: 200;
    display: inline-block;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    position: relative;
}

nav > ul > li:nth-of-type(1)
{
    font-weight: 400;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
}

nav > ul > li > a
{
    text-decoration: none;
    color: #000000;
}

nav > ul > li > div
{
    height: 40px;
    width: 40px;
    background-color: #1a1a1a;
    transform: rotate(45deg);
    display: none;
    position: absolute;
    top: 30px;
}

nav > ul > li:hover > div
{
    display: block;
}

nav > ul > li:nth-of-type(1) > a
{
    color: #ff0000;
}

nav > ul > li > ul
{
    font-size: 0.85rem;
    line-height: 1.5rem;
    background-color: #0d0d0d;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: height 0ms ease 0ms;
    text-align: center;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    display: block;
    left: calc(50% - 70px - 0.5rem);
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 130px;
}

nav > ul > li:hover > ul
{
    height: 110px !important;
    border-left: 1px solid #00cc00;
    border-right: 1px solid #00cc00;
    border-bottom: 1px solid #00cc00;
}

nav > ul > li > span
{
    display: none;
}

nav > ul > li > ul > li
{
    display: inline-block;
    width: 85%;
}

nav > ul > li > ul > li > a
{
    color: #ffffff;
    text-decoration: none;
}

nav > figure
{
    display: none;
}