/*Navigation Formating - Mobile*/

nav
{
    border-radius: 2px;
    background-image: linear-gradient(to top left, transparent, transparent 49.5%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 200px;
    transition: margin 400ms ease-in-out 0ms;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    z-index: 99;
}

nav:focus
{
    outline: none;
}

nav:focus > ul
{
    transition: width 400ms ease-in-out 0ms;
    width: 200px;
    border-right: 2px solid #00cc00; 
}

nav > ul
{
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
    width: 0px;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



nav > ul > li
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.85rem;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 70%;
    list-style-type: none;
    position: relative;
}

nav > ul > li > span
{
    position: absolute !important;
    left: 0px;
}

nav > ul > li > ul
{
    display: none;
    overflow: hidden;
}

nav > ul > li > a
{
    color: #000000;
    text-decoration: none;
    position: relative;
}

nav > figure
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.85rem;
    text-align: center;
    color: #000000;
    display: block;
    position: fixed;
    top: 12.5px;
    left: 33.5px;
    height: 40px;
    width: 40px;
    transition: margin 400ms ease-in-out 0ms;
    margin: 0rem 0rem 0rem 0rem;  
    z-index: 100;
}

nav > figure > div
{
    height: 2px;
    width: 100%;
    background-color: #000000;
}

nav > figure > div:nth-of-type(2)
{
    margin-top: 10px;
    margin-bottom: 10px;
}